# игнорировать все файлы в каталоге .idea
/.idea/

# игнорировать все файлы в каталоге files
/files/

# игнорировать все файлы в каталоге venv
/venv/

# игнорировать все файлы во всех каталогах __pycache__
__pycache__/

# игнорировать configurebot.py в корне репозитория
/configurebot.py